<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>北京和文天下传媒文化有限公司</title>
    
    <!-- core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/prettyPhoto.css" rel="stylesheet">
    <link href="/static/css/animate.min.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
    <link href="/static/css/responsive.css" rel="stylesheet">
    
    <!--[if lt IE 9]>
    <script src="/static/js/html5shiv.js"></script>
    <script src="/static/js/respond.min.js"></script>
    <![endif]-->       
    <link rel="icon" href="/static/images/logo_b.png" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>

    <header id="header">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-4">
                        <div class="top-number"><p><i class="fa fa-phone-square"></i>  +010 52321672</p></div>
                    </div>
                    <div class="col-sm-6 col-xs-8">
                       <div class="social">
                            <ul class="social-share">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li> 
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-skype"></i></a></li>
                            </ul>
                            <div class="search">
                                <form role="form">
                                    <input type="text" class="search-form" autocomplete="off" placeholder="Search">
                                    <i class="fa fa-search"></i>
                                </form>
                           </div>
                       </div>
                    </div>
                </div>
            </div><!--/.container-->
        </div><!--/.top-bar-->

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="/static/images/logo.png" alt="logo"></a>
                </div>
                
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="/">首页</a></li>
                        <li><a href="/about">关于和文</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">和文通<i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="/hwt_prod">和文通产品</a></li>
                            </ul>
                        </li>
                        <li><a href="/news">新闻中心</a></li>
                        <li><a href="/books/1">图书产品</a></li>
                        <li><a href="/services">服务中心</a></li>
                        <li class="active"><a href="/hr">在线招聘</a></li>
                        <li><a href="/contact_us">联系我们</a></li>
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
        
    </header><!--/header-->
    <div>
	    <img style="border:0px;width:100%;" src="/static/images/hr.jpg"  />
    </div>
    <section class="pricing-page">
        <div class="container">
            <div class="center">  
                <h2>收拾行李，寻找最新的自己</h2>
                <p class="lead">有时候你想证明给一万个人看，到后来，你发现只得到了一个明白人，那就够了。</p>
            </div>  
            <div class="pricing-area text-center">
                <div class="row">
                    <div class="col-sm-4 plan price-one wow fadeInDown">
                        <ul>
                            <li class="heading-one">
                                <h1>岗位</h1>
                                <span>美术编辑</span>
                            </li>
                            <li style="text-align:left;">工作地点：	北京</li>
                            <li style="text-align:left;">岗位职责：<br><br>
                            1.图书产品整体设计；<br>
                            2.前瞻性的针对性的审美标准；<br>
                            3.掌握各种美术信息，了解图书的装帧设计动态，在设计、材料使用、工艺上创新；<br>
                            4.配合图书责任编辑和营销部门做好图书宣传的设计工作。</li>
                            <li style="text-align:left;">技能要求：<br><br>
                            1、美术设计类大专及以上学历，具备美术功底和绘画技能，两年以上图书设计经验，能独立进行设计;<br>
                            2、熟练使用Photoshop、Flash、Illustrator、CorelDraw等设计软件，熟悉掌握制版和印刷工艺;<br>
                            3、喜欢阅读，关注图书市场和新媒体;<br>
                            4、具有较强的创新能力、视觉感知能力，能独立快速完成高品质设计作品;<br>
                            5、善于学习、敬业、能够承受工作压力，认真负责，具有团队合作精神和沟通能力;<br>
                            6、有优质美术设计资源者优先；<br>
                            7、发邮件21hwtx@sina.com 近照一样不要PS。<br></li>
                            <li class="plan-action">
                                <a href="/contact_us" class="btn btn-primary">申请</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-sm-4 plan price-two wow fadeInDown">
                        <ul>
                            <li class="heading-two">
                                <h1>岗位</h1>
                                <span>区域性市场部经理</span>
                            </li>
                            <li style="text-align:left;">工作地点：	北京 根据公司的业务需要派遣</li>
                            <li style="text-align:left;">岗位职责：<br><br>
                            1.负责公司在该地区的业务推广及市场调查； <br>
                            2.负责及时反馈该地区的业务信息；<br>
                            3.负责协调客户关系； <br>
                            4.忍受长期出差之苦。</li>
                            <li style="text-align:left;">技能要求：<br><br>
                            1.身体健康、性格活跃、善于与人打交道；<br>
                            2.工作责任心强，作风认真踏实，能吃苦耐劳，抗压能力强；<br>
                            3.具有良好的敬业精神和团队意识，有较强的执行力；<br>
                            4.能熟练使用EXCEL；<br>
                            5.有相关工作经历的工作经验且优先考虑；<br>
                            6.薪水面议；<br>
                            7.大专以上学历；<br>
                            8. 发简历邮件21hwtx@sina.com 近照一张 不要PS。</li>

                            <li class="plan-action">
                                <a href="/contact_us" class="btn btn-primary">申请</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-sm-4 plan price-three wow fadeInDown">
                        <ul>
                            <li class="heading-three">
                                 <h1>岗位</h1>
                                <span>图书管理员</span>
                            </li>
                            <li style="text-align:left;">工作地点：	北京</li>
                            <li style="text-align:left;">岗位职责：<br><br>
                            1.负责图书馆图书借阅管理工作，调研借阅情况，提高图书流通率；<br>
                            2.按照图书编目要求，对藏书分类编目，及时分编、上架、投入流通；<br>
                            3.爱护图书财产，定期查库。并做好防尘，防潮，防火，防盗等安全保护工作。<br>
                            4.负责解答上海旅游或图书借阅的相关问题<br>
                            5.领导交付的其他相关工作<br></li>
                            <li style="text-align:left;">技能要求：<br><br>
                            1.中专及以上学历 ， 旅游或图书档案相关专业毕业；<br>
                            2.热爱阅读，能吃苦耐劳，踏实务实；<br>
                            3.工作有条理性，细致认证，强烈责任意识；<br>
                            4.具有良好客户服务意识和亲和力。<br></li>
                            <li class="plan-action">
                                <a href="/contact_us" class="btn btn-primary">申请</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div><!--/pricing-area-->
        </div><!--/container-->
    </section><!--/pricing-page-->
           
    <section id="bottom">
        <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Company</h3>
                        <ul>
                            <li><a href="/about">About us</a></li>
                            <li><a href="/hr">We are hiring</a></li>
                            <li><a href="/services">Meet the team</a></li>
                            <li><a href="#">Copyright</a></li>
                            <li><a href="#">Terms of use</a></li>
                            <li><a href="#">Privacy policy</a></li>
                            <li><a href="/contact_us">Contact us</a></li>
                        </ul>
                    </div>
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Support</h3>
                        <ul>
                            <li><a href="#">Faq</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Forum</a></li>
                            <li><a href="#">Documentation</a></li>
                            <li><a href="#">Refund policy</a></li>
                            <li><a href="#">Ticket system</a></li>
                            <li><a href="#">Billing system</a></li>
                        </ul>
                    </div>
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Developers</h3>
                        <ul>
                            <li><a href="#">Web Development</a></li>
                            <li><a href="#">SEO Marketing</a></li>
                            <li><a href="#">Theme</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Email Marketing</a></li>
                            <li><a href="#">Plugin Development</a></li>
                            <li><a href="#">Article Writing</a></li>
                        </ul>
                    </div>
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Our Partners</h3>
                        <ul>
                            <li><a href="http://www.fudanpress.com/default.asp" target="_blank">Fudan University Press</a></li>
                            <li><a href="http://www.hneph.com/" target="_blank">Hunan Education Press</a></li>
                            <li><a href="http://www.cmpedu.com/" target="_blank">China Machine Press</a></li>
                            <li><a href="http://www.yjbys.com/company/1806867.html" target="_blank">Shanghai Art Press</a></li>
                            <li><a href="http://www.cjcpg.com/" target="_blank">Changjiang Children Press</a></li>
                            <li><a href="http://www.zjupress.com/default.html" target="_blank">Zhejiang University Press</a></li>
                            <li><a href="http://www.cnpubg.com/" target="_blank">China Publishing Group</a></li>
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->
            </div>
        </div>
    </section><!--/#bottom-->

    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    Copyright &copy; 2005 <a target="_blank" href="/" title="24h全国免费电话:010-52321672">北京和文天下传媒文化有限公司</a>. 版权所有.
                </div>

                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="/">首页</a></li>
                        <li><a href="/about">关于我们</a></li>
                        <li><a href="/contact_us">联系我们</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    <script src="/static/js/jquery.js"></script>
    <script type="text/javascript">
        $('.carousel').carousel()
    </script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.prettyPhoto.js"></script>
    <script src="/static/js/jquery.isotope.min.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/wow.min.js"></script>
</body>
</html>