<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>北京和文天下传媒文化有限公司</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/prettyPhoto.css" rel="stylesheet">
    <link href="/static/css/animate.min.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
    <link href="/static/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="/static/js/html5shiv.js"></script>
    <script src="/static/js/respond.min.js"></script>
    <![endif]-->       
    <link rel="icon" href="/static/images/logo_b.png" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->
<body>

    <header id="header">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-4">
                        <div class="top-number"><p><i class="fa fa-phone-square"></i>  +010 52321672</p></div>
                    </div>
                    <div class="col-sm-6 col-xs-8">
                       <div class="social">
                            <ul class="social-share">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li> 
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-skype"></i></a></li>
                            </ul>
                            <div class="search">
                                <form role="form">
                                    <input type="text" class="search-form" autocomplete="off" placeholder="Search">
                                    <i class="fa fa-search"></i>
                                </form>
                           </div>
                       </div>
                    </div>
                </div>
            </div><!--/.container-->
        </div><!--/.top-bar-->

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="/static/images/logo.png" alt="logo"></a>
                </div>
                
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="/">首页</a></li>
                        <li><a href="/about">关于和文</a></li>
                        <li  class="active" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">和文通<i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="/hwt_prod">和文通产品</a></li>
                            </ul>
                        </li>
                        <li><a href="/news">新闻中心</a></li>
                        <li><a href="/books/1">图书产品</a></li>
                        <li><a href="/services">服务中心</a></li>
                        <li><a href="/hr">在线招聘</a></li>
                        <li><a href="/contact_us">联系我们</a></li>
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
        
    </header><!--/header-->
    <div>
	    <img style="border:0px;width:100%;" src="/static/images/hewentong.jpg"  />
    </div>
    <section id="portfolio">
        <div class="container">
            <div class="center">
               <h2>和文通产品</h2>
               <p class="lead">我们能够为“班班通”，“农远工程”提供、定制多样化的多媒体信息化教育解决方案</p>
            </div>

            <ul class="portfolio-filter text-center">
                <li><a id="ready_click" class="btn btn-default active" href="#" data-filter=".hwt_h">H系列</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".hwt_w">W系列</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".hwt_t">T系列</a></li>
            </ul><!--/#portfolio-filter-->

            <div class="row">
                <div class="portfolio-items">
                    <div class="portfolio-item apps hwt_h col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="/static/images/portfolio/recent/H-1.jpg" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="#">H系列</a></h3>
                                    <p>多媒体电视互动一体机</p>
                                    <a class="preview" href="/static/images/portfolio/full/H-1.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> 放大</a>&nbsp
                                    <a class="preview" href="/static/images/portfolio/full/H-param.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> 产品规格</a>
                                </div> 
                            </div>
                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item joomla bootstrap hwt_h col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="/static/images/portfolio/recent/H-2.jpg" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="#">H系列</a></h3>
                                    <p>多媒体电视互动一体机</p>
                                    <a class="preview" href="/static/images/portfolio/full/H-2.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> 放大</a>&nbsp
                                    <a class="preview" href="/static/images/portfolio/full/H-param.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> 产品规格</a>
                                </div> 
                            </div>
                        </div>          
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item bootstrap wordpress hwt_h col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="/static/images/portfolio/recent/H-3.jpg" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="#">H系列</a></h3>
                                    <p>多媒体电视互动一体机</p>
                                    <a class="preview" href="/static/images/portfolio/full/H-3.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> 放大</a>&nbsp
                                    <a class="preview" href="/static/images/portfolio/full/H-param.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> 产品规格</a>
                                </div> 
                            </div>
                        </div>        
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item joomla wordpress apps hwt_h col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="/static/images/portfolio/recent/H-42.jpg" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="#">H系列</a></h3>
                                    <p>多媒体电视互动一体机</p>
                                    <a class="preview" href="/static/images/portfolio/full/H-4.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> 放大</a>&nbsp
                                    <a class="preview" href="/static/images/portfolio/full/H-param.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> 产品规格</a>
                                </div> 
                            </div>
                        </div>           
                    </div><!--/.portfolio-item-->

          
                    <div class="portfolio-item apps hwt_w col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="/static/images/portfolio/recent/W-1.jpg" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="#">W系列</a></h3>
                                    <p>多媒体教学智能交互平板一体机</p>
                                    <a class="preview" href="/static/images/portfolio/full/W-1.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> 放大</a>&nbsp
                                    <a class="preview" href="/static/images/portfolio/full/W-param.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> 产品规格</a>
                                </div>
                            </div>
                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item joomla bootstrap hwt_w col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="/static/images/portfolio/recent/W-2.jpg" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="#">W系列</a></h3>
                                    <p>多媒体教学智能交互平板一体机</p>
                                    <a class="preview" href="/static/images/portfolio/full/W-2.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> 放大</a>&nbsp
                                    <a class="preview" href="/static/images/portfolio/full/W-param.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> 产品规格</a>
                                </div>
                            </div>
                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item bootstrap wordpress hwt_w col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="/static/images/portfolio/recent/W-3.jpg" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="#">W系列</a></h3>
                                    <p>多媒体教学智能交互平板一体机</p>
                                    <a class="preview" href="/static/images/portfolio/full/W-3.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> 放大</a>&nbsp
                                    <a class="preview" href="/static/images/portfolio/full/W-param.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> 产品规格</a>
                                </div>
                            </div>
                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item joomla wordpress apps hwt_w col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="/static/images/portfolio/recent/W-4.jpg" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="#">W系列</a></h3>
                                    <p>多媒体教学智能交互平板一体机</p>
                                    <a class="preview" href="/static/images/portfolio/full/W-4.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> 放大</a>&nbsp
                                    <a class="preview" href="/static/images/portfolio/full/W-param.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> 产品规格</a>
                                </div>
                            </div>
                        </div>
                    </div><!--/.portfolio-item-->

                     <div class="portfolio-item joomla hwt_t col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="/static/images/portfolio/recent/T-1.jpg" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="#">T系列</a></h3>
                                    <p>多媒体教学智能交互平板一体机</p>
                                    <a class="preview" href="/static/images/portfolio/full/T-1.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> 放大</a>&nbsp
                                    <a class="preview" href="/static/images/portfolio/full/T-param.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> 产品规格</a>
                                </div>
                            </div>
                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item hwt_t apps col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="/static/images/portfolio/recent/T-2.jpg" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="#">T系列</a></h3>
                                    <p>多媒体教学智能交互平板一体机</p>
                                    <a class="preview" href="/static/images/portfolio/full/T-2.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> 放大</a>&nbsp
                                    <a class="preview" href="/static/images/portfolio/full/T-param.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> 产品规格</a>
                                </div>
                            </div>
                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item hwt_t col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="/static/images/portfolio/recent/T-3.jpg" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="#">T系列</a></h3>
                                    <p>多媒体教学智能交互平板一体机</p>
                                    <a class="preview" href="/static/images/portfolio/full/T-3.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> 放大</a>&nbsp
                                    <a class="preview" href="/static/images/portfolio/full/T-param.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> 产品规格</a>
                                </div>
                            </div>
                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item hwt_t col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="/static/images/portfolio/recent/T-4.jpg" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="#">T系列</a></h3>
                                    <p>多媒体教学智能交互平板一体机</p>
                                    <a class="preview" href="/static/images/portfolio/full/T-4.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> 放大</a>&nbsp
                                    <a class="preview" href="/static/images/portfolio/full/T-param.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> 产品规格</a>
                                </div>
                            </div>
                        </div>
                    </div><!--/.portfolio-item-->


                    <div class="portfolio-item apps hwt_h center col-xs-12">
                        <div class="row" style="text-align:left;">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                        <dl>
                            <dt>商品名称</dt>
                            <dd>H系列多媒体电视互动一体机	商品编号：0001</dd>
                            <dt>品牌</dt>
                            <dd>HWT</dd>
                            <dt>商品毛重</dt>
                            <dd>90/110kg	品类：	H系列</dd>
                            <dt>分辨率</dt>
                            <dd>1920*1080	显示尺寸：55/65/70/84英寸</dd>
                            <dt>功能</dt>
                            <dd>H系列多媒体电视互动一体机采用高强度旋转装置连接，</dd>
                            <dd>只需1名维护人员即可通过打开专用暗锁装置，</dd>
                            <dd>把一体机从黑板下翻90度，实现电脑、电视、液晶触摸屏的维护，</dd>
                            <dd> 无需取下机器或者黑板，使维护工作变得轻易简单。</dd>
                            <dd>1、机器与黑板无缝结合，达到更佳的防尘效果；</dd>
                            <dd>2、物理快捷键功能：显示屏幕两侧具有电子白板常用功能物理快捷键；</dd>
                            <dd>3、为配合嵌入黑板安装需要，多种接口前置，方便开关机、设备调节、电脑开关、USB外接设备连接等；</dd>
                            <dd>4、液晶触摸屏可通过精密旋转装置上下翻进行机器维护，无须拆卸黑板或液晶触摸屏。</dd>
                        </dl>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                        <div style="margin:0 auto;display: block;height: auto;max-width: 100%;">
                            <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
                                    codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0"
                                    width="560" height="580">

                                <param name="movie" value="/static/vedio/Flvplayer.swf">

                                <param name="quality" value="high">

                                <param name="allowFullScreen" value="true" />

                                <param name="FlashVars" value="" />

                                <embed allowFullScreen="true" src="/static/vedio/H.swf" FlashVars=""
                                       quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer"
                                       type="application/x-shockwave-flash"
                                       width="100%"></embed>

                            </object>
                        </div>
                    </div>

                    <div class="portfolio-item apps hwt_w center col-xs-12">
                        <div class="row" style="text-align:left;">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                        <dl>
                            <dt>商品名称</dt>
                            <dd>W系列多媒体教学智能交互平板一体机	商品编号：0002</dd>
                            <dt>品牌</dt>
                            <dd>HWT</dd>
                            <dt>商品毛重</dt>
                            <dd>95kg	品类：W系列</dd>
                            <dt>分辨率</dt>
                            <dd>1920*1080	显示尺寸：55/65/70/84英寸</dd>
                            <dt>功能</dt>
                            <dd>W系列多媒体电视互动一体机采用一体化、模块化设计，</dd>
                            <dd>将大屏幕显示设备、交互式电子白板、功放音响、 中控功能、</dd>
                            <dd>电脑、展台、蓝牙等完美的结合在一起，通过笔或手指不仅可以操控电脑，</dd>
                            <dd>将液晶屏幕转变为书写板， 任由使用者书写和批注，</dd>
                            <dd>极大提高了教学/培训/会议的互动性、灵活性和趣味性。</dd>
                            <dd>1、电脑前维护式，密码开关机管理；</dd>
                            <dd>2、物理快捷键功能：显示屏幕两侧具有电子白板常用功能物理快捷键13组（提供国家实用型专利证书）；</dd>
                            <dd>3、多种接口前置，方便开关机、设备调节、电脑开关、USB外接设备连接等；</dd>
                            <dd>4、全自动式展台打开与关闭，高清摄像系统，高集成式工控，高品质蓝牙。 </dd>
                        </dl>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                        <div style="margin:0 auto;display: block;height: auto;max-width: 100%;">
                            <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
                                    codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0"
                                    width="560" height="580">

                                <param name="movie" value="/static/vedio/Flvplayer.swf">

                                <param name="quality" value="high">

                                <param name="allowFullScreen" value="true" />

                                <param name="FlashVars" value="" />

                                <embed allowFullScreen="true" src="/static/vedio/W.swf" FlashVars=""
                                       quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer"
                                       type="application/x-shockwave-flash"
                                        width="100%"></embed>

                            </object>
                        </div>
                    </div>

                    <div class="portfolio-item apps hwt_t center col-xs-12">
                        <div class="row" style="text-align:left;">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                        <dl>
                            <dt>商品名称</dt>
                            <dd>T系列多媒体教学智能交互平板一体机	商品编号：0003</dd>
                            <dt>品牌</dt>
                            <dd>HWT</dd>
                            <dt>商品毛重</dt>
                            <dd>以参数为准	品类：T系列</dd>
                            <dt>分辨率</dt>
                            <dd>1920*1080	显示尺寸：58/60/65/70/85</dd>
                            <dt>功能</dt>
                            <dd>互动教学一体机是在以前的基础上，进行创新化设计。</dd>
                            <dd>它的超薄超窄边的设计，使其外观更加美观大方，</dd>
                            <dd>专业为互动教学研发的互动电教设备，</dd>
                            <dd>演讲者可通过红外笔或者手指触摸显示屏操控电脑，</dd>
                            <dd>并在其进行书写和批注，是互动教学中不可或少的必备设备之一。</dd>
                        </dl>
                             </div>
                            <div class="col-md-4"></div>
                        </div>
                        <div style="margin:0 auto;display: block;height: auto;max-width: 100%;">
                            <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
                                    codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0"
                                    width="560" height="580">

                                <param name="movie" value="/static/vedio/Flvplayer.swf">

                                <param name="quality" value="high">

                                <param name="allowFullScreen" value="true" />

                                <param name="FlashVars" value="" />

                                <embed allowFullScreen="true" src="/static/vedio/T.swf" FlashVars=""
                                       quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer"
                                       type="application/x-shockwave-flash"
                                       width="100%"></embed>

                            </object>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section><!--/#portfolio-item-->
    
    <section id="bottom">
        <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Company</h3>
                        <ul>
                            <li><a href="/about">About us</a></li>
                            <li><a href="/hr">We are hiring</a></li>
                            <li><a href="/services">Meet the team</a></li>
                            <li><a href="#">Copyright</a></li>
                            <li><a href="#">Terms of use</a></li>
                            <li><a href="#">Privacy policy</a></li>
                            <li><a href="/contact_us">Contact us</a></li>
                        </ul>
                    </div>
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Support</h3>
                        <ul>
                            <li><a href="#">Faq</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Forum</a></li>
                            <li><a href="#">Documentation</a></li>
                            <li><a href="#">Refund policy</a></li>
                            <li><a href="#">Ticket system</a></li>
                            <li><a href="#">Billing system</a></li>
                        </ul>
                    </div>
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Developers</h3>
                        <ul>
                            <li><a href="#">Web Development</a></li>
                            <li><a href="#">SEO Marketing</a></li>
                            <li><a href="#">Theme</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Email Marketing</a></li>
                            <li><a href="#">Plugin Development</a></li>
                            <li><a href="#">Article Writing</a></li>
                        </ul>
                    </div>
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Our Partners</h3>
                        <ul>
                            <li><a href="http://www.fudanpress.com/default.asp" target="_blank">Fudan University Press</a></li>
                            <li><a href="http://www.hneph.com/" target="_blank">Hunan Education Press</a></li>
                            <li><a href="http://www.cmpedu.com/" target="_blank">China Machine Press</a></li>
                            <li><a href="http://www.yjbys.com/company/1806867.html" target="_blank">Shanghai Art Press</a></li>
                            <li><a href="http://www.cjcpg.com/" target="_blank">Changjiang Children Press</a></li>
                            <li><a href="http://www.zjupress.com/default.html" target="_blank">Zhejiang University Press</a></li>
                            <li><a href="http://www.cnpubg.com/" target="_blank">China Publishing Group</a></li>
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->
            </div>
        </div>
    </section><!--/#bottom-->

    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    Copyright &copy; 2005 <a target="_blank" href="/" title="24h全国免费电话:010-52321672">北京和文天下传媒文化有限公司</a>. 版权所有.
                </div>

                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="/">首页</a></li>
                        <li><a href="/about">关于我们</a></li>
                        <li><a href="/contact_us">联系我们</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.prettyPhoto.js"></script>
    <script src="/static/js/jquery.isotope.min.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/wow.min.js"></script>
    <script type="text/javascript">
        window.onload=function(){
            $$("#ready_click").click();
       };
       $$(function(){
            var $$divWidth = $$('embed').width();
            $$('embed').css({'height':$$divWidth/1.5});
        });
    </script>
</body>
</html>
