<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>北京和文天下传媒文化有限公司</title>
	<!-- core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/animate.min.css" rel="stylesheet">
    <link href="/static/css/prettyPhoto.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
    <link href="/static/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="/static/js/html5shiv.js"></script>
    <script src="/static/js/respond.min.js"></script>
    <![endif]-->       
    <link rel="icon" href="/static/images/logo_b.png" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body class="homepage">

    <header id="header">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-4">
                        <div class="top-number"><p><i class="fa fa-phone-square"></i>  +010 52321672</p></div>
                    </div>
                    <div class="col-sm-6 col-xs-8">
                       <div class="social">
                            <ul class="social-share">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li> 
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-skype"></i></a></li>
                            </ul>
                            <div class="search">
                                <form role="form">
                                    <input type="text" class="search-form" autocomplete="off" placeholder="Search">
                                    <i class="fa fa-search"></i>
                                </form>
                           </div>
                       </div>
                    </div>
                </div>
            </div><!--/.container-->
        </div><!--/.top-bar-->

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img src="/static/images/logo.png" alt="logo"></a>
                </div>
				
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">首页</a></li>
                        <li><a href="/about">关于和文</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">和文通<i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="/hwt_prod">和文通产品</a></li>
                            </ul>
                        </li>
                        <li><a href="/news">新闻中心</a></li>
                        <li><a href="/books/1">图书产品</a></li>
                        <li><a href="/services">服务中心</a></li>
                        <li><a href="/hr">在线招聘</a></li>
                        <li><a href="/contact_us">联系我们</a></li>
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
		
    </header><!--/header-->

    <section id="main-slider" class="no-margin">
        <div class="carousel slide">
            <ol class="carousel-indicators visible-lg visible-md">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
                <li data-target="#main-slider" data-slide-to="2"></li>
                <li data-target="#main-slider" data-slide-to="3"></li>
                <li data-target="#main-slider" data-slide-to="4"></li>
                <li data-target="#main-slider" data-slide-to="5"></li>
                <li data-target="#main-slider" data-slide-to="6"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img src="/static/images/slider/mainpage1.gif" class="img-responsive"
                         style="width:100%;" alt="">
                </div>
                <div class="item">
                    <img src="/static/images/slider/mainpage2.jpg" class="img-responsive"
                         style="width:100%;" alt="">
                </div>
                <div class="item">
                    <img src="/static/images/slider/mainpage3.jpg" class="img-responsive"
                         style="width:100%;" alt="">
                </div>
                <div class="item">
                    <img src="/static/images/slider/mainpage4.gif" class="img-responsive"
                         style="width:100%;" alt="">
                </div>
                <div class="item">
                    <img src="/static/images/slider/mainpage5.gif" class="img-responsive"
                         style="width:100%;" alt="">
                </div>
                <div class="item">
                    <img src="/static/images/slider/mainpage6.gif" class="img-responsive"
                         style="width:100%;" alt="">
                </div>
                <div class="item">
                    <img src="/static/images/slider/mainpage7.jpg" class="img-responsive"
                         style="width:100%;" alt="">
                </div>
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
        <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
            <i class="fa fa-chevron-left"></i>
        </a>
        <a class="next hidden-xs" href="#main-slider" data-slide="next">
            <i class="fa fa-chevron-right"></i>
        </a>
    </section><!--/#main-slider-->

    <section id="recent-works">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>公司风采</h2>
                <p class="lead">北京和文天下有产品、市场、编辑、售后、财务、人力资源共5个部门，现有员工134名<br>其中市场部和产品部门员工在在图书发行行业的供职平均工作经验达3年以上<br>这是一支团结、年轻、充满活力的队伍。</p>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="/static/images/portfolio/recent/1com.jpg" alt="">
                    </div>
                </div>   

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="/static/images/portfolio/recent/2com.jpg" alt="">
                    </div>
                </div> 

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="/static/images/portfolio/recent/3com.jpg" alt="">
                    </div>
                </div>   

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="/static/images/portfolio/recent/4com.jpg" alt="">
                    </div>
                </div>   
                
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="/static/images/portfolio/recent/5com.jpg" alt="">
                    </div>
                </div>   

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="/static/images/portfolio/recent/6com.jpg" alt="">
                    </div>
                </div> 

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="/static/images/portfolio/recent/7com.jpg" alt="">
                    </div>
                </div>   

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="/static/images/portfolio/recent/8com.jpg" alt="">
                    </div>
                </div>   
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#recent-works-->

    <section id="feature" >
        <div class="container">
           <div class="center wow fadeInDown">
                <h2>图书服务</h2>
                <p class="lead">专业、权威的教育图书，教育管理图书，教育培训资料 </p>
            </div>

            <div class="row">
                <div class="features">
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-bullhorn"></i>
                            <h2>图书馆配</h2>
                            <h3>和文天下全国400多家的出版社有过合作；现有图书品种达6万多种，库房仓储7000多平方，近4年内，与全国高校图书馆、公共图书馆及研究机构等合作达100余家。</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-comments"></i>
                            <h2>图书配送</h2>
                            <h3>我公司完善的配送流程，包括：储存、分拣与配货、打包、配送运输，可以严格控制住发货中的每个细节，保证每个细节不出差错，直至交付使用。</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-cloud-download"></i>
                            <h2>营销服务</h2>
                            <h3>采用行业先进的ERP企业资源规划系统，使企业能够有效地对包括采购、加工、仓储、生产、物流、财务等信息资源和数据实时进行统筹、计算、分析、共享和管理。</h3>
                        </div>
                    </div><!--/.col-md-4-->

                </div><!--/.services-->
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#feature-->

    <section id="content">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>公司介绍视频</h2>
            </div>
            <div class="row">
		<div class="center">
		    <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
                       codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0">

                        <param name="movie" value="/static/vedio/Flvplayer.swf">

                        <param name="quality" value="high">

                        <param name="allowFullScreen" value="true" />

			<param name="FlashVars" value="vcastr_file=/static/vedio/hewen.flv" />

                        <embed src="/static/vedio/Flvplayer.swf" allowFullScreen="true" FlashVars="vcastr_file=/static/vedio/hewen.flv"
                              quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="50%"></embed>

                   </object>
                </div>
            </div>
        </div>
    </section>



    <section id="partner">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>Our Partners</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>    
            <div class="row">
            <div class="partners">
                <ul>
                    <li> <a href="http://www.fudanpress.com/default.asp" target="_blank"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" src="/static/images/partners/1.jpg"></a></li>
                    <li> <a href="http://www.hneph.com/" target="_blank"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms" src="/static/images/partners/2.jpg"></a></li>
                    <li> <a href="http://www.cmpedu.com/" target="_blank"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms" src="/static/images/partners/3.jpg"></a></li>
                    <li> <a href="http://www.yjbys.com/company/1806867.html" target="_blank"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms" src="/static/images/partners/4.jpg"></a></li>
                    <li> <a href="http://www.cjcpg.com/" target="_blank"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1500ms" src="/static/images/partners/5.jpg"></a></li>
                </ul>
            </div>
            </div>
            <h1></h1><br>
            <div class="row">
            <div class="partners">
                <ul>
                    <li> <a href="http://www.zjupress.com/default.html" target="_blank"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1800ms" src="/static/images/partners/6.jpg"></a></li>
                    <li> <a href="http://www.cnpubg.com/" target="_blank"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="2100ms" src="/static/images/partners/7.jpg"></a></li>
                    <li> <a href="http://www.cyp.com.cn/" target="_blank"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="2400ms" src="/static/images/partners/8.jpg"></a></li>
                    <li> <a href="http://crup.cn.gongchang.com/" target="_blank"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="2700ms" src="/static/images/partners/9.png"></a></li>
                    <li> <a href="https://zxcbs.tmall.com/" target="_blank"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="3000ms" src="/static/images/partners/10.jpg"></a></li>
                </ul>
            </div>
            </div>
        </div><!--/.container-->
    </section><!--/#partner-->

    <section id="conatcat-info">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="media contact-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="pull-left">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="media-body">
                            <h2>有问题需要咨询?</h2>
                            <p>和文天下为了响应国家在十二五期间提出的教育信息化建设的核心目标与标志工程“三通两平台”的建设。
                                围绕国家“三通两平台”的建设目标，
                                以班班通资源平台为核心，依托云服务平台将丰富优质的教学资源和多样的教学应用引入教学课堂。
                                24h全国服务热线：010-52321672
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.container-->    
    </section><!--/#conatcat-info-->

    <section id="bottom">
        <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Company</h3>
                        <ul>
                            <li><a href="/about">About us</a></li>
                            <li><a href="/hr">We are hiring</a></li>
                            <li><a href="/services">Meet the team</a></li>
                            <li><a href="#">Copyright</a></li>
                            <li><a href="#">Terms of use</a></li>
                            <li><a href="#">Privacy policy</a></li>
                            <li><a href="/contact_us">Contact us</a></li>
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Support</h3>
                        <ul>
                            <li><a href="#">Faq</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Forum</a></li>
                            <li><a href="#">Documentation</a></li>
                            <li><a href="#">Refund policy</a></li>
                            <li><a href="#">Ticket system</a></li>
                            <li><a href="#">Billing system</a></li>
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Developers</h3>
                        <ul>
                            <li><a href="#">Web Development</a></li>
                            <li><a href="#">SEO Marketing</a></li>
                            <li><a href="#">Theme</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Email Marketing</a></li>
                            <li><a href="#">Plugin Development</a></li>
                            <li><a href="#">Article Writing</a></li>
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Our Partners</h3>
                        <ul>
                            <li><a href="http://www.fudanpress.com/default.asp" target="_blank">Fudan University Press</a></li>
                            <li><a href="http://www.hneph.com/" target="_blank">Hunan Education Press</a></li>
                            <li><a href="http://www.cmpedu.com/" target="_blank">China Machine Press</a></li>
                            <li><a href="http://www.yjbys.com/company/1806867.html" target="_blank">Shanghai Art Press</a></li>
                            <li><a href="http://www.cjcpg.com/" target="_blank">Changjiang Children Press</a></li>
                            <li><a href="http://www.zjupress.com/default.html" target="_blank">Zhejiang University Press</a></li>
                            <li><a href="http://www.cnpubg.com/" target="_blank">China Publishing Group</a></li>
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->
            </div>
        </div>
    </section><!--/#bottom-->

    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    Copyright &copy; 2005 <a target="_blank" href="/" title="24h全国免费电话:010-52321672">北京和文天下传媒文化有限公司</a>. 版权所有.
                </div>

                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="/">首页</a></li>
                        <li><a href="/about">关于我们</a></li>
                        <li><a href="/contact_us">联系我们</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.prettyPhoto.js"></script>
    <script src="/static/js/jquery.isotope.min.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/wow.min.js"></script>
    <script type="text/javascript">
        $$('.carousel').carousel({interval: 4000});
        $$(function(){
            var $$divWidth = $$('embed').width();
            $$('embed').css({'height':$$divWidth/1.5});
        });
    </script>
</body>
</html>
